.carouselContainer {
  padding: 16px;
  background-color: #000;
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.embla {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  position: relative;
  margin-right: 16px;
  flex: 0 0 auto;
}

.moviePoster {
  border-radius: 8px;
  object-fit: cover;
}

.movieTitle {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}
