.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: white;
  padding: 10px;

  .headerLogo {
    display: flex;
    align-items: center;

    .headerTexts {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1.5rem;
      background-color: #fbbf24;
      color: #000;
      border-radius: 0.4rem;
      padding: 0 10px;
      margin: 5px 0;
    }

    .headerIcon {
      margin-right: 8px;
    }
  }

  .headerItems {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;

    a {
      color: #000;
      background: #fbbf24;
      padding: 6px 5px;
      border-radius: 3px;

      &:hover {
        background: #d8c184;
      }
    }

    .homeLink {
      display: inline;
    }
  }
}

@media (max-width: 992px) {
  .headerLogo {
    // Remove logo text on mobile and tablet
    .headerTexts {
      display: none !important;
    }
  }

  .headerItems {
    // Remove home button on mobile and tablet
    .homeLink {
      display: none !important;
    }
  }
}
